{% extends 'base.html' %}

{% block content %}
	<h2>{% block title %} Tema Laborator 4 SD {% endblock %} </h2>
	<p><a href="/create">Creeaza o cheltuiala noua</a></p>
	{% for cheltuiala in cheltuieli %}
		<a href="{{ url_for('cheltuiala', cheltuiala_id=cheltuiala['id']) }}">
			<h3>{{ cheltuiala['valoare'] }} </h3>
		</a>
		<span class="badge badge-primary">{{ cheltuiala['created'] }}</span><br>
		<p>{{ cheltuiala['detalii'] }}</p><br>
		<small>debug ID: {{cheltuiala['id'] }}</small>
		<a href="{{ url_for('edit', id=cheltuiala['id']) }}">
			<span class="badge badge-warning">Edit</span>
		</a>
		<hr>
	{% endfor %}
{% endblock %}
